.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.canvasContainer {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.paletteContainer {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid;
  Height: 60vh;
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
}
.pixel {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}
.mp {
  color: green;
}


.palette {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(4,1fr);
  background-color: white;
  width: 30vh;
  height: 30vh;
  border: 1px solid;
  border-spacing: 5px;
  /* margin: auto; */
}

.green {
  background-color: green;
}
.silver {
  background-color: silver;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
